// out: styles.css

@pictureSize: 300px;
@backgroundColor: #ffed00;

body {
    background: @backgroundColor;
}

#div1 {
    font-size:35px;
}

#div2 {
    height: @pictureSize;
    width: @pictureSize;
    overflow:hidden;

    img {
        height: 100%;
    }
}
