<html>
    <head>
        <title>Andrew's Picture Diary</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <div id="div1">
            Hello. My name is Andrew Park and I am 13 years old
        </div>
        <div  id="div2">
            <img src="https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?h=350&auto=compress&cs=tinysrgb">
        </div>

        {% if 1 == 0 %}
        <button>+</button>
        {% endif %}

        <script type="text/javascript" src="js/whateveryourlike.js"></script>
    </body>
</html>
